.title {
  text-align: center;
}

.box {
  background-color: #d0d0d0;
  border: 1px solid #000000;
  margin: 20px;
  padding: 10px;
}

.child {
  background-color: #ffffff;
  border: 1px solid #000000;
  margin: 10px;
  padding: 10px;
}

.code {
  color: #404040;
  font-family: "Lucida Console", Monaco, monospace;
}

.list-container {
  max-height: 400px;
  overflow-y: auto;
  margin: 10px;
}

button {
  margin: 5px;
}
